.main-document {
    border: 2px thick black;
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.logo {
    justify-content: flex-start;
    border: 2px thick black;
    width: 320px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.top-nav {
    justify-content: flex-end;
    border: 2px thick black;
    width: 320px;
}


