.main-document {
    border: 2px thick black;
    width: 960px;
    margin: 0 auto;
}

.logo {
    float: left;
    border: 2px thick black;
    width: 30%;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.top-nav {
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left-box-body {
    float: left;
}

.left-box {
    float: left;
}