.main-document {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background: white;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    background: #4aaaa5;
    margin-right: auto;
    width: 320px;
    text-align: center;
    color: white;
}

.top-nav {
    background: white;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-option{
    margin-right: 0px;
    padding-right: 0px;
}

.main-body {
    display: flex;
    background-image: url(../images/dust_scratches.png);
}

.left-box {
    color: black;
}

.left-box-header {
    background: white;
    color: #4aaaa5
}

#profile-image {
    float: left;
    padding: 0px 20px 20px 0px;

}

.left-box-body {
    background: white;
}

.right-box {
    width: 300px;
    height: 200px;
    background: white;
    margin: 20px;
    text-align: center;
    color: #4aaaa5;
}

.social-icon {
    height: 40px;
    width: 40px;
}

.right-box-body{
    display: flex;
    justify-content: space-around;
}

footer {
    background: #666666;
    height: 60px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

