.main-document {    
    width: 960px;
    margin: 0 auto;
}

.logo {
    float: left;
    border: 2px thick black;
    width: 30%;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.top-nav {
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left-box-body {
    float: left;
    background-color: white;
    width: 60%;
}

.left-box {
    float: left;
}

.social-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.right-box {
    float:right;
}

.main-body {
    background-image: url(../images/dust_scratches.png);
}

#profile-image {
    float: left;
}